<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">

    <input class="form-control col-md-9 ml-3" list="datalistOptions" id="exampleDataList" placeholder="Rechercher">
    <datalist id="datalistOptions">
      <option *ngFor="let structure of structures" value="{{ structure.name }}">
      <option *ngFor="let event of events" value="{{ event.name }}">
    </datalist>


    <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Structures
      <button *ngIf="authority" (click)="gotoAddStructure()" class="btn btn-success btn-sm">
        Ajouter
      </button>
    </h4>

    <table class="table table-sm table-borderless">
      <tr *ngFor="let structure of structures">
        <td>
          <a class="nav-link" href="/wiki/structures/{{ encodeUri(structure.name) }}" target="_blank">{{ structure.name }}</a>
        </td>
        <td class="pl-3" align="right">
          <button *ngIf="authority" (click)="editStructure(structure.id)" class="btn btn-outline-warning btn-sm border-bottom border-warning">Edit</button>
        </td>
        <td class="pr-3" align="right">
          <button *ngIf="authority" (click)="delStructure(structure.id)" class="btn btn-outline-danger btn-sm border-bottom border-danger">X</button>
        </td> 
      </tr>
    </table>

    <hr style="width:75%; margin-left: auto; margin-right: auto;">

    
    <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Evenements
      <button *ngIf="authority" (click)="gotoAddEvent()" class="btn btn-success btn-sm">
        Ajouter
      </button>
    </h4>

    <table class="table table-sm table-borderless">
      <tr *ngFor="let event of events">
        <td><a class="nav-link" href="/wiki/évènements/{{ encodeUri(event.name) }}" target="_blank">{{ event.name }}</a></td>
        <td class="pl-3" align="right">
          <button *ngIf="authority" (click)="editEvent(event.id)" class="btn btn-outline-warning btn-sm border-bottom border-warning">Edit</button>
        </td>
        <td class="pr-3" align="right">
          <button *ngIf="authority" (click)="delEvent(event.id)" class="btn btn-outline-danger btn-sm border-bottom border-danger">X</button>
        </td>
      </tr>
    </table>

  </div>
</nav>

<app-map></app-map>
