<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">

    <input class="form-control col-md-9 ml-3" list="datalistOptions" id="exampleDataList" placeholder="Rechercher">
    <datalist id="datalistOptions">
      <option *ngFor="let structure of structures" value="{{ structure.name }}">
      <option *ngFor="let event of events" value="{{ event.name }}">
    </datalist>


    <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Structures
      <button *ngIf="authority" (click)="gotoAddStructure()" class="btn btn-success btn-sm">
        Ajouter
      </button>
    </h4>

    <ul class="nav flex-column mb-2">
      <li *ngFor="let structure of structures" class="nav-item">
        <a class="nav-link" href="http://localhost:8000/structures/{{ encodeUri(structure.name) }}" target="_blank">{{ structure.name }}</a>
      </li>
    </ul>

    <hr style="width:75%; margin-left: auto; margin-right: auto;">

    <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Evenements
      <button *ngIf="authority" (click)="gotoAddEvent()" class="btn btn-success btn-sm">
        Ajouter
      </button>
    </h4>


    <ul class="nav flex-column mb-2">
      <li *ngFor="let event of events" class="nav-item">
        <a [routerLink]="['/event', toLowerCase(event.name), event.id]" class="nav-link" href="">{{ event.name }}</a>
      </li>
    </ul>

  </div>
</nav>

<app-map></app-map>
