<div class="container py-3">
  <h1 class="mt-2">Formulaire évènement</h1>
  <form class="mb-3" [formGroup]="eventForm" (ngSubmit)="onSubmit()">

    <h2>Informations</h2>

    <div class="form-group">
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nom de l'évènement ">
    </div>

    <div class="row">
      <div class="col">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" formControlName="date">
      </div>
      <div class="col">
        <label for="hour">Heure</label>
        <input type="time" class="form-control" id="hour" formControlName="hour">
      </div>
    </div>

    <hr>
    <h2>Adresse</h2>
    <div class="form-group">
      <input type="text" class="form-control" (keyup)="getAddress($event)" formControlName="address" list="dynmicAddress" id="address" name="address" placeholder="Entrer une adresse ..." />
      <datalist id="dynmicAddress">
        <option *ngFor="let item of addressList" [value]="item.properties.label">{{item.properties.label}}</option>
      </datalist>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="street" formControlName="street" placeholder="Rue" disabled>
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" id="city" formControlName="city" placeholder="Ville" disabled>
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" id="zip" formControlName="zip" placeholder="Code Postal" pattern="[0-9]{5}" disabled>
      </div>
    </div>

    <div class="form-group">
      <label for="structure">Structure</label>
      <select class="form-control" id="structure" formControlName="structure" placeholder="Choisir structure">
      </select>
    </div>

    <hr>
    <h2>Autres</h2>

    <div class="row">
      <div class="col">
        <label for="public">Public</label>
        <input type="text" class="form-control" id="public" formControlName="public" placeholder="Jeune, Adultes...">
      </div>
      <div class="col">
        <label for="price">Tarif</label>
        <input type="text" class="form-control" id="price" formControlName="price" placeholder="Prix par participant">
      </div>
    </div>

    <input type="text" id="lon" formControlName="lon" hidden>
    <input type="text" id="lat" formControlName="lat" hidden>

    <button type="submit" class="btn btn-primary mt-3" [disabled]="!eventForm.valid">Submit</button>

  </form>
</div>
